.app-shell {
  background: #ffffff;
}

.mobile-drawer {
  --width: 300px;
  --background: #473c33;

  ion-content {
    --background: #473c33;
    --color: white;
  }

  ion-item {
    --background: transparent;
    --background-focused: rgba(255, 255, 255, 0.1);
    --background-hover: rgba(255, 255, 255, 0.05);
    --border-radius: 12px;
    margin-bottom: 4px;
  }
}
