@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";


/* Forçamos o scroll nativo do navegador */
html,
body {
    height: auto !important;
    min-height: 100% !important;
    overflow: auto !important;
    overflow-x: hidden !important;
}

/* O Ionic coloca classes que podem travar o scroll em componentes internos */
.ion-page {
    display: block !important;
    position: relative !important;
    overflow: visible !important;
    contain: none !important; // Libera o conteúdo para expandir
}