@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@ionic/angular/css/core.css";

@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";


html,
body {
    height: auto !important;
    min-height: 100% !important;
    overflow: auto !important;
    overflow-x: hidden !important;
}

.ion-page {
    display: block;
    position: relative;
    overflow: visible;
    contain: layout style;
}

.page-container {
    @apply max-w-7xl mx-auto px-4 py-8 w-full;
}

.page-header {
    @apply mb-8;
}

.page-content {
    @apply w-full;
}

app-main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    >.app-main {
        flex: 1;
    }
}